<nav class="top-0 fixed z-50 w-full flex items-center justify-between px-2 py-3 navbar-expand-lg shadow" style="background-color: #000000;">
  <div class="container px-4 mx-auto flex items-center justify-between">
    <div class="flex items-center">
      <a [routerLink]="['/']" class="text-3xl text-white font-semibold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        CSERS
      </a>
      <button class="cursor-pointer text-xl leading-none px-3 py-2 border border-solid border-yellow-500 rounded-lg bg-yellow-500 text-white block lg:hidden outline-none focus:outline-none">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="flex items-center">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a class="hover:text-yellow-500 text-white px-3 py-2 flex items-center text-sm uppercase" [routerLink]="['/claims/claims-front']">
            Support
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-yellow-500 text-white px-3 py-2 flex items-center text-sm uppercase" [routerLink]="['/add-incident']">
            Incident
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-yellow-500 text-white px-3 py-2 flex items-center text-sm uppercase" [routerLink]="['/available-quizzes']">
            Training Content
          </a>
        </li>
      </ul>
      <a class="hover:bg-yellow-500 hover:text-white text-yellow-500 px-4 py-2 ml-4 rounded-full text-sm uppercase font-semibold border border-solid border-yellow-500 text-white" href="#login">
        LOGIN
      </a>
    </div>
  </div>
</nav>
