<!-- create-membre.component.html -->
<router-outlet></router-outlet>
<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded" [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">List Membres</h3>
            </div>
            <form (submit)="searchMembres()">
              <div class="flex flex-wrap justify-between mb-3">
                <div class="relative flex-grow mr-2">
                  <input 
                    type="text" 
                    placeholder="Poste" 
                    [(ngModel)]="poste" 
                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                    (input)="onPosteChange($event.target.value)"
                  />
                  <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                    <i class="fas fa-briefcase"></i>
                  </span>
                </div>
              
                <div class="relative flex-grow mr-2">
                  <input 
                    type="text" 
                    placeholder="Competences" 
                    [(ngModel)]="competencesTechniques" 
                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                    (input)="onCompetencesTechniquesChange($event.target.value)"
                  />
                  <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                    <i class="fas fa-gem"></i>
                  </span>
                </div>
              
                <div class="relative flex-grow mr-2">
                  <input 
                    type="text" 
                    placeholder="Certifications" 
                    [(ngModel)]="certifications" 
                    class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10"
                    (input)="onCertificationsChange($event.target.value)"
                  />
                  <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
                    <i class="fas fa-certificate"></i>
                  </span>
                </div>
                <button class="text-red-600 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Membres table -->
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-200 text-white border-red-200'">Nom</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-300 text-white border-red-300'">Prenom</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-400 text-white border-red-400'">Email</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-500 text-white border-red-500'">Poste</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-600 text-white border-red-600'">Number</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-700 text-white border-red-700'">Competences Techniques</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-800 text-white border-red-800'">Certifications</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-white' ? 'bg-white text-white border-white' : 'bg-red-900 text-white border-red-900'">Experience</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" [ngClass]="color === 'bg-blueGray-400' ? 'bg-blueGray-400 text-blueGray-400 border-blueGray-400' : 'bg-blueGray-100 text--blueGray-400 border-blueGray-100'">Action</th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center" [ngClass]="color === 'bg-blueGray-400' ? 'bg-blueGray-400 text-blueGray-400 border-blueGray-400' : 'bg-blueGray-100 text--blueGray-400 border-blueGray-100'">Affecter</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let membre of membres">
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4" (dblclick)="goToProfile(membre.idMembre)">
                  {{ membre.firstname }}
                </td>                
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.lastname}}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.email }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.poste }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.number }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.competencesTechniques }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.certifications }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{ membre.experience }}</td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button class="text-red-600 hover:text-red-800 hover:bg-red-100 p-1 rounded-md focus:outline-none focus:ring" (click)="deleteMembre(membre.idMembre)">
                    <i class="fas fa-trash"> Delete </i>
                  </button>                  
                </td>
                <div class="relative w-full mb-2" (click)="onAffecterClick(membre.idMembre)" #btnDropdownRef>
                  <select [(ngModel)]="selectedEquipeName" #equipeDropdown (change)="onTeamSelected($event.target.value)">
                    <option value="" disabled selected>recommended Teams</option>
                    <option *ngFor="let team of recommendedTeams" [value]="team">{{ team }}</option>
                  </select>
                </div>                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w-full mb-12 px-4">
    </div>
  </div>

  <button class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" (click)="sendTestNotification()">Send Test Notification</button>


  