<form (ngSubmit)="onSubmit()" #responseForm="ngForm">
<div class="w-full lg:w-12/12 px-4">
  <div class="relative w-full mb-3">
    <label
      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
      htmlFor="grid-password"
    >
      Content
    </label>
    <textarea
      type="text"
      name="content"
      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
      rows="4"
      placeholder="Respond to this claim"
      [(ngModel)]="claimResponse.content"
    ></textarea>
  </div>
</div>
<div class="flex justify-end">
    <button type="submit" [disabled]="responseForm.invalid" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
      <i class="fas fa-check"></i> Submit
    </button>
  </div>
</form>