<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
          <div class="rounded-t mb-0 px-6 py-6 bg-blue-600 text-white">
            <div class="text-center mb-3">
              <h6 class="text-sm font-bold">Change Password</h6>
            </div>
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <form class="mb-4" (ngSubmit)="submitForm()">
              <div class="mb-6">
                <input type="password" name="newPassword" placeholder="New Password" [(ngModel)]="changePasswordForm.newPassword" class="border-2 border-blue-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 transition duration-300">
              </div>
              <div class="mb-6">
                <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="changePasswordForm.confirmPassword" class="border-2 border-blue-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 transition duration-300">
              </div>
              <div class="flex items-center justify-between">
                <button type="submit" class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">Change Password</button>
                <button type="button" class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150" (click)="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>